{% extends 'base.html' %}

{% block title %} Charts {% endblock %}

{%block scripts%}
<canvas id="myChart" width="200px" height="80px"></canvas>
<script>
    var d1 = {{ labels| safe}};
    var d2 = {{ data| safe}};
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: d1,
            datasets: [{
                label: 'Hours of Sleep',
                data: d2,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {

            scales: {
                y: {
                    beginAtZero: true,

                }
            }
        }
    });
</script>


{%endblock scripts%}

{%block content%}
<div class="main">
    <a href="/sleep">
        <button type="button" class="btn btn-dark">Back </button>
    </a>
</div>


<!-- displaying the chart -->
<!-- you can also play around with the width and height to increase or decrease the chart size -->


{%endblock content%}